/* Dark Colors */
:root{
  --main-bg: #fefefe;
  --main-second-bg: #0c0c0c;
  --main-text: #0c0c0c;
  --main-second-text: #fefefe;
  --main-subtle-text: #a3a3a3;
  --box-shadow: 0px 0px 12px 0px #0002;
}
.app {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--main-bg)
}
.app-loading:empty {
  width: 56px;
  height: 56px;
  position: fixed;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border-radius: 50%;
  border: 4px solid var(--main-second-bg);
  border-top: 4px solid var(--main-bg);
  animation: 1s app-loading infinite linear;
}
@keyframes app-loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.raised-module-light{
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.center-snippet {
  position: absolute;
  width: 200px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
  text-align: center;
  color: var(--main-subtle-text)
}

.decoration-none{
  text-decoration: none;
}

/* Login page */

.login-page{
  height: 75vh;
}
.login-page .create-account-button{
  position: fixed;
  bottom: 10px;
  left: center;
}
.login-form{
  width: 60%;
  max-width: 260px;
}
.login-input{
  margin: 5px 0;
}
.login-button{
  margin: 5px 0;
}




/* Console */





/* Navigation */

nav {
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: calc(300px - 16px);
  padding: 46px 8px 0px 8px;
  height: calc(100vh - 46px);
  background-color: var(--main-bg);
  box-shadow: inset var(--box-shadow);
  transform: translateX(-300px);
  transition: .3s transform, .3s opacity;
  overflow: hidden;
}
.nav-button{
  z-index: 10;
  position: fixed;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
}
.nav-button:hover{
  cursor: pointer;
}
.nav-mobile-dismiss{
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .15s;
}
.nav-button i {
  font-size: 30px;
  color: var(--main-second-bg);
  transition: .3s;
}
#navCheckbox{
  opacity: 0;
  position: fixed;
  top: -100px;
  left: -100px;
}
#navCheckbox:checked ~ nav {
  opacity: 1;
  transform: translateX(0px);
}
#navCheckbox:checked ~ main {
  transform: translateX(300px)
}

.nav-user-container{
  height: 120px;
}
.nav-user-container p {

}
.nav-user-container small {

}
.nav-user-container img {
  display: inline-block;
  width: 35%;
  border-radius: 50%;
}

.nav-links-container{
  height: calc(100% - 182px);
  padding: 15px 0;
  align-self: stretch;
  overflow: auto;
}
.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #0000;
  color: var(--main-text);
  border-radius: 4px;
  height: 35px;
  align-self: stretch;
  font-size: 18px;
  text-align: center;
  transition: color .2s, background-color .2s
}
.nav-link:hover{
  background-color: var(--main-second-bg);
  color: var(--main-second-text);
}
.nav-links-container:empty::before{
  content: "Looks like you dont have any links";
  color: var(--main-subtle-text)
}

.nav-log-out-container{
  margin: 8px 0;
  height: 32px;
}




/* main */

main {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: .3s transform, .3s width;
  overflow: hidden;
}
main:empty::before{
  content: "Hmmmm... Nothing is here.";
  position: absolute;
  width: 200px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
  text-align: center;
  color: var(--main-subtle-text)
}
.view-header{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 100%;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
}
.view-body{
  width: 100%;
  max-width: 750px;
  padding: 46px 0px 32px 0px;
  height: calc(100% - 83px);
  overflow: auto;
}




/* Dashboard */

.dashboard{
  width: 100%;
}

.dashboard-status-container{
  margin: 10px;
  width: calc(100% - 20px);
  background-color: var(--main-bg);
}
.dashboard-status-container-title{
  padding: 15px 10px;
  font-size: 20px;
  color: var(--main-text);
}
.dashboard-status-item-container{
  border-top: 2px solid var(--main-text);
  padding: 15px 0px;
  transition: transform .2s, box-shadow .2s
}
.dashboard-status-item-container:hover{
  transform: translateY(-5px);
}
.dashboard-status-item-container > section{
  margin: 2.5px 0;
}
.dashboard-status-text{
  margin: 0 10px;
  color: var(--main-text)
}
.dashboard-status-title{

}
.dashboard-status-temp{

}
.dashboard-status-on-off{

}
.dashboard-status-current-schedule{

}
.dashboard-status-progress-percent{

}


.dashboard-status-progress-bar{
  flex: 1;
  margin: 5px 0;
  border-radius: 1000px;
  align-self: flex-start;
  height: 16px;
}

.dashboard-kilns-container{
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  height: 46px;
}


/* Kiln Console */

.kiln-console-container{
  align-self: stretch;
}
.kiln-console-tab-container{
  align-self: stretch;
  padding: 5px 0;
  margin: 10px;
}

.kiln-console-tab-item{
  border-radius: 5px;
  padding: 2px 8px;
  border: 2px solid var(--main-text);
  color: var(--main-text)
}

/* Hour chart */
.hour-chart-container{
  align-self: stretch;
}

/* Responsive */

@media screen and (min-width: 620px){
  nav {
    transform: translateX(0);
    opacity: 1;
  }
  main {
    width: calc(100% - 300px);
    transform: translateX(300px)
  }
  .nav-button i{
    color: var(--main-text)
  }
  #navCheckbox:checked ~ nav {
    opacity: 0;
    transform: translateX(-300px);
  }
  #navCheckbox:checked ~ main {
    transform: translateX(0px);
    width: 100%;
  }
}

@media screen and (max-width: 620px){
  #navCheckbox:checked ~ .nav-mobile-dismiss{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    opacity: 1;
    width: calc(100% - 300px);
    height: 100vh;
  }
}