:root{
  --main-light-shade: #f0eeea;
  --main-light-accent: #eecacb;
  --main-brand: #cb4340;
  --main-dark-accent: #762e41;
  --main-dark-shade: #2e283b;

  --transparent-white: #fff5;
  --transparent-black: #0005;

  --box-shadow: 2px 2px 8px 1px #0006;
}
.light-shade{
  color: var(--main-light-shade)
}
.light-accent{
  color: var(--main-light-accent)
}
.brand{
  color: var(--main-brand)
}
.dark-accent{
  color: var(--main-dark-accent)
}
.dark-shade{
  color: var(--main-dark-shade)
}
.light-shade-background{
  background-color: var(--main-light-shade)
}
.light-accent-background{
  background-color: var(--main-light-accent)
}
.brand-background{
  background-color: var(--main-brand)
}
.dark-accent-background{
  background-color: var(--main-dark-accent)
}
.dark-shade-background{
  background-color: var(--main-dark-shade)
}
.half-white{
  color: var(--transparent-white);
}
.half-black{
  color: var(--transparent-black);
}
.half-white-background{
  background-color: var(--transparent-white);
}
.half-black-background{
  background-color: var(--transparent-black);
}
.app {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--main-dark-shade)
}
.app-loading:empty {
  width: 56px;
  height: 56px;
  position: fixed;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border-radius: 50%;
  border: 4px solid var(--main-dark-shade);
  border-top: 4px solid var(--main-light-shade);
  animation: 1s app-loading infinite linear;
}
@keyframes app-loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.raised-module-light{
  background-color: var(--main-light-shade);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}

.raised-module-dark{
  background-color: var(--main-dark-shade);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}



/* Login page */

.login-page{
  height: 75vh;
}
.login-page small{
  position: fixed;
  bottom: 10px;
  left: center;
}
.login-form{
  width: 60%;
  max-width: 260px;
}
.login-input{
  margin: 5px 0;
}
.login-button{
  margin: 5px 0;
}




/* Console */





/* Navigation */

nav {
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: calc(300px - 16px);
  padding: 46px 8px 0px 8px;
  height: calc(100vh - 46px);
  background-color: var(--main-light-shade);
  box-shadow: inset -5px 0 28px 1.5px var(--transparent-black);
  transform: translateX(-300px);
  transition: .3s transform, .3s opacity;
  overflow: hidden;
}
.nav-button{
  z-index: 10;
  position: fixed;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
}
.nav-button:hover{
  cursor: pointer;
}
.nav-mobile-dismiss{
  opacity: 0;
  transition: .2s opacity;
  transition-delay: .15s;
}
.nav-button i {
font-size: 30px;
transition: .3s
}
#navCheckbox{
  opacity: 0;
  position: fixed;
  top: -100px;
  left: -100px;
}
#navCheckbox:focus ~ .nav-button i {
  color: var(--main-light-accent)
}
#navCheckbox:checked ~ .nav-button i{
  color: var(--main-dark-shade);
}
#navCheckbox:checked ~ nav {
  opacity: 1;
  transform: translateX(0px);
}
#navCheckbox:checked ~ main {
  transform: translateX(300px)
}

.nav-user-container{
  height: 120px;
}
.nav-user-container p {

}
.nav-user-container small {

}
.nav-user-container img {
  display: inline-block;
  width: 40%;
  border-radius: 50%;
}

.nav-links-container{
  height: calc(100% - 152px);
  align-self: stretch;
  overflow: auto;
}
.nav-links-container:empty::before{
  content: "Looks like you dont have any links";
  color: var(--transparent-black)
}

.nav-log-out-container{
  margin: 8px 0;
  height: 32px;
}




/* main */

main {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: .3s transform, .3s width;
  overflow: hidden;
}
main:empty::before{
  content: "Hmmmm... Nothing is here.";
  color: var(--transparent-white)
}
.view-header{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 100%;
  background-color: var(--main-dark-shade);
  box-shadow: var(--box-shadow);
}
.view-body{
  width: 100%;
  max-width: 750px;
  padding: 46px 0px 32px 0px;
  height: calc(100% - 83px);
  overflow: auto;
}




/* Dashboard */

.dashboard{
  width: 100%;
}

.dashboard-stats-container{
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  height: 350px;
  background-color: var(--transparent-white);
}

.dashboard-kilns-container{
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  height: 46px;
}






/* Responsive */

@media screen and (min-width: 620px){
  nav {
    transform: translateX(0);
    opacity: 1;
  }
  main {
    width: calc(100% - 300px);
    transform: translateX(300px)
  }
  .nav-button i{
    color: var(--main-dark-shade)
  }
  #navCheckbox:checked ~ .nav-button i{
    color: var(--main-light-shade);
  }
  #navCheckbox:checked ~ nav {
    opacity: 0;
    transform: translateX(-300px);
  }
  #navCheckbox:checked ~ main {
    transform: translateX(0px);
    width: 100%;
  }
}

@media screen and (max-width: 620px){
  #navCheckbox:checked ~ .nav-mobile-dismiss{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    opacity: 1;
    width: calc(100% - 300px);
    height: 100vh;
  }
}