html {font-size: 1em;}

body {
  font-family: Roboto, "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

body {
  margin: 0;
  padding: 0;
}
img,
embed,
object,
video {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
p,
a,
span,
small,
label,
input {
  font-family: Roboto, sans-serif;
}

.flex-container {
  display: flex;
}
.flex-container-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-stretch{
  align-self: stretch;
}
.ai-start{
  align-items: flex-start;
}
.ai-center{
  align-items: center;
}
.jc-start{
  justify-content: flex-start;
}
.jc-center{
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.flex{
  flex: 1;
}
.grow-1{
  flex-grow: 1;
}
.text-center {
  text-align: center;
}
.full-width{
  width: 100%;
}